#TABLECONTENT_MPAGE{
    display:flex;
}

#botoneraContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#copiarDatos{
    position: relative;
    height:400px;
    top:15%;
}

#messageContainer{
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#message{
    font-size:24px;
}